		* {
		  box-sizing: border-box;
		}
		body{
			background-repeat:no-repeat;
			background-color:black;
			background-image: url("b-image.jpg");
			background-position: center;
		}
		.menu{
			display:inline-block;
			width:100%;
			background-color:#000;
		}
		.object{
			font-weight:bold;
			display:inline-block;
			-webkit-transition:0.25s;
		}
		.object:hover > a{
			color:green;
			-webkit-transition:0.25s;
		}
		.green{
			font-weight:bold;
			color:green;
		}
		a{
			color:white;
			text-decoration:none;
			-webkit-transition:0.25s;
		}
		.about{
			text-align:justify;
			margin:auto;
			margin-top:2.5%;
			background-color:#ffffff1c;
			font-family: cursive;
			width:80%;
			src: url('f.ttf')  format('truetype');
		}
		.contact{
			margin:auto;
			margin-top:2.5%;
			background-color:#ffffff1c;
			font-family: cursive;
			color:white;
			height:70%;
			width:80%;
			src: url('f.ttf')  format('truetype');
		}
		.input{
			border:none;
			background-color:#ffffff9e;
		}
		.area{
			border:none;
			background-color:#ffffff9e;
		}
		.submit{
			border:none;
			background-color:#ffffff9e;
			font-weight:bold;
		}
		@media screen and (max-width : 25000px)
		{
			.pc{
				display:block;
			}
			.mobile{
				display:none;
			}
			.menu{
				padding-top:15px;
				padding-left:10px;
				padding-bottom:15px;
			}
			.object{
				margin-left:20px;
			}
			.object:hover{
				transform: translateY(-2px);
				box-shadow: 0px 15px 20px #ffffff00;
			}
			a{
				font-size:20px;
			}
			.object:hover > a{
				box-shadow:3px;
			}
			.green{
				font-size:25px;
			}			
			.about{
				position:absolute;
				top:10%;
				left:42%;
				width:40%;
				color:white;
				border-radius:3px;
				padding:15px;
				font-size:20px;
				text-align:justify;
			}			
			.contact{
				border-radius:3px;
				font-size:20px;
				padding:15px;
			}
			.input{
				width:20%;
				height:8%;
				margin:3px;
				padding:3px;
				padding-left:6px;
				border-radius:6px;
			}
			.area{
				width:50%;
				height:40%;
				padding:3px;
				padding-left:6px;
				border-radius:6px;
				margin:3px;
				padding:3px;
			}
			.submit{
				width:50%;
				height:8%;
				margin:3px;
				border-radius:3px;
				font-size:15px;
			}			
			.img{
				position:absolute;
				top:15%;
				left:15%;
				width:25%;
				padding:3px;
				display:inline-block;
				padding-right:9px;
				border-radius:2px;
			}
		}
		@media screen and (max-width : 1000px)
		{
			.pc{
				display:none;
			}
			.mobile{
				display:block;
			}
			.menu{
				padding-top:1px;
				padding-left:1px;
				padding-bottom:1px;
			}
			.object{
				font-size:20px;
			}
			.object:hover{
				transform: translateY(-1px);
				box-shadow: 0px 5px 6px #ffffff00;
			}
			a{
				font-size:12px;
			}
			.object:hover > a{
				box-shadow:1px;
			}
			.green{
				font-size:12px;
			}			
			.about{
				width:80%;
				position:unset;
				border-radius:1px;
				padding:5px;
				font-size:20px;
				color:white;
			}			
			.contact{
				border-radius:1px;
				font-size:15px;
				padding:5px;
			}
			.input{
				width:40%;
				height:4%;
				margin:1px;
				padding:1px;
				padding-left:2px;
				border-radius:2px;
			}
			.area{
				width:100%;
				height:20%;
				padding:1px;
				padding-left:2px;
				border-radius:2px;
				margin:1px;
				padding:1px;
			}
			.submit{
				width:100%;
				height:4%;
				margin:1px;
				border-radius:1px;
				font-size:10px;
			}			
			.img{
				position:unset;
				width:30%;
				height:unset;
				padding:1px;
				padding-right:3px;
				float: left;
				display:block;
			}
		}
		@media screen and (max-width : 720px)
		{
			.menu{
				padding-top:1px;
				padding-left:1px;
				padding-bottom:1px;
			}
			.object{
				font-size:20px;
			}
			.object:hover{
				transform: translateY(-1px);
				box-shadow: 0px 5px 6px #ffffff00;
			}
			a{
				font-size:12px;
			}
			.object:hover > a{
				box-shadow:1px;
			}
			.green{
				font-size:12px;
			}			
			.about{
				width:80%;
				position:unset;
				border-radius:1px;
				padding:5px;
				font-size:20px;
				color:white;
			}
			.contact{
				border-radius:1px;
				font-size:15px;
				padding:5px;
			}
			.input{
				width:40%;
				height:4%;
				margin:1px;
				padding:1px;
				padding-left:2px;
				border-radius:2px;
			}
			.area{
				width:100%;
				height:20%;
				padding:1px;
				padding-left:2px;
				border-radius:2px;
				margin:1px;
				padding:1px;
			}
			.submit{
				width:100%;
				height:4%;
				margin:1px;
				border-radius:1px;
				font-size:10px;
			}			
			.img{
				position:relative;
				left:10%;
				width:80%;
				height:unset;
				padding:1px;
				padding-right:3px;
				float: initial;
				display:block;
			}
		}
		@media screen and (max-width : 450px)
		{
			.menu{
				padding-top:1px;
				padding-left:1px;
				padding-bottom:1px;
			}
			.object{
				font-size:20px;
			}
			.object:hover{
				transform: translateY(-1px);
				box-shadow: 0px 5px 6px #ffffff00;
			}
			a{
				font-size:12px;
			}
			.object:hover > a{
				box-shadow:1px;
			}
			.green{
				font-size:12px;
			}			
			.about{
				width:80%;
				position:unset;
				border-radius:1px;
				padding:5px;
				font-size:20px;
				color:white;
			}			
			.contact{
				border-radius:1px;
				font-size:15px;
				padding:5px;
			}
			.input{
				width:40%;
				height:4%;
				margin:1px;
				padding:1px;
				padding-left:2px;
				border-radius:2px;
			}
			.area{
				width:100%;
				height:20%;
				padding:1px;
				padding-left:2px;
				border-radius:2px;
				margin:1px;
				padding:1px;
			}
			.submit{
				width:100%;
				height:4%;
				margin:1px;
				border-radius:1px;
				font-size:10px;
			}			
			.img{
				position:relative;
				left:10%;
				width:80%;
				height:unset;
				padding:1px;
				padding-right:3px;
				display:block;
				float: initial;
			}
		}